/* LAYOUTS */
nav {
    width: 35px;
    height: calc(100vh - 60px);
    position: relative;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgb(0, 0, 0);
}

main {
    width: calc(100% - 35px);
    height: calc(100vh - 60px);
    background-color: #141922;
    overflow-x: hidden;
    overflow-y: scroll;
}

footer {
    width: 100vw;
    height: 60px;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: #282828;
}


/* ----- SIDEBAR ----- */
.icone {
    height: 20px;
    width: 20px;
}

/* Top */
nav #top-sidebar {
    flex-basis: 110px;
}

/* Bottom */
nav #bottom-sidebar {
    flex-basis: 70px;
}
#bottom-sidebar > .icone:first-child {
    width: 13px;
    height: 13x;
    margin: 0 auto;
}
#bottom-sidebar > .icone:last-child  svg{
    border-radius: 50%;
    background-color: rgb(128, 128, 128);
}

/* ----- MAIN ----- */

/* -- Header -- */
#header-main {
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);
}
/* button upgrade */
#upgrade {
    width: 150px;
    height: 30px;
    margin: 0 10px 0 auto;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 8px;
    font-weight: 1000;
    text-align: center;
    padding: 9px 0;
}

/* -- Body -- */
#container-body-main {
    margin: 10px;
}
/* categorie */
#categorie ul .categoria a {
    font-size: 8px;
    font-weight: 1000;
    text-align: center;
    color: #707277
}
/* playlist */
.nome-lista {
    width: 120px;
    height: 40px;
    margin: 20px 0;
    background-color: antiquewhite;
}
.lista-playlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.playlist {
    flex-basis: 48%;
    aspect-ratio: 1;
    background-color: dodgerblue;
}

/* ----- FOOTER ----- */
footer {
    padding: 0 7px;
}

/* left */
#left-footer {
    width: 80px;
    height: 40px;
    background-color: tomato;
}

/* center */
#center-footer {
    width: 120px;
    height: 40px;
    background-color: violet;
}

/* right */
#right-footer {
    width: 80px;
    height: 40px;
    background-color: darkturquoise;
}