/* LAYOUTS */

#container {
    display: flex;
    flex-wrap: wrap;
}

nav {
    width: 40px;
    height: calc(100vh - 60px);
    position: relative;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: lightcoral;
}

main {
    width: calc(100% - 40px);
    height: calc(100vh - 60px);
    background-color: lightgreen;
}

footer {
    width: 100vw;
    height: 60px;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: darkviolet;
}


/* SIDEBAR */
.icone {
    height: 20px;
    width: 20px;
    background-color: white;
}

/* top */
nav #top-sidebar {
    flex-basis: 110px;
}

/* bottom */
nav #bottom-sidebar {
    flex-basis: 70px;
}