/* LAYOUTS */
#container-body {
    width: 100vw;
    height: 100vh;
}

nav {
    width: 35px;
    height: calc(100% - 60px);
    position: relative;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

main {
    width: calc(100% - 35px);
    height: calc(100% - 60px);
    background-color: #141922;
    overflow-x: hidden;
    overflow-y: scroll;
}

footer {
    width: 100%;
    height: 60px;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: #282828;
    padding: 0 7px;
}


/* ----- SIDEBAR ----- */

/* icone */
nav ul .icone {
    width: 20px;
}

/* --- Top --- */
nav #top-sidebar {
    gap: 5px;
    margin-top: 5px;
}
nav #top-sidebar .icone:nth-of-type(1n+2) .container-icone {
    opacity: 0.6;
}

/* nome icona - compare da width: 425px in poi */
#top-sidebar .icone .container-icone .nome-icona {
    display: none;
    font-size: 9px;
    font-weight: 800;
    vertical-align: text-top;
    color: white;
    cursor: pointer;
}
/* marker-line */
#top-sidebar .icone .marker-line {
    display: none;
    height: 100%;
    border-left: 3px solid #9be52d;
    left: -10px;
    top: 0;
    opacity: 1;
}

/* Playlist - compare da (width: 425px) in poi */
.playlist-sdbar {
    display: none;
}
#top-sidebar .playlist-sdbar a {
    color: white;
    opacity: 0.7;
}
/* titolo */
#top-sidebar .playlist-sdbar > h3 {
    margin-top: 10px;
}
/* Crea playlist */
#top-sidebar #crea-playlist {
    margin-bottom: 10px;
}
#top-sidebar #crea-playlist a i.fa-plus {
    width: 25px;
    height: 25px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    color: black;
    background-color: white;
    opacity: 0.7;
}
#top-sidebar #crea-playlist a h3 {
    margin-left: 3px;
    vertical-align: middle;
}
/* Nome playlist */
#top-sidebar #nome-playlist h4 {
    font-size: 8px;
}
/* Nome playlist - scrollbar ----------------------------- */
/* #top-sidebar #nome-playlist ul {
    overflow-x: hidden;
    overflow-y: auto;
} */

/* Top - Bottom  h3 */
#top-sidebar .playlist-sdbar h3,
#bottom-sidebar #profile h3 {
    font-size: 9px;
    font-weight: 1000;
}

/* --- Bottom --- */
nav #bottom-sidebar {
    flex-basis: 70px;
}

/* download */
#bottom-sidebar #download {
    opacity: 0.7;
}
#bottom-sidebar #download a{
    display: block;
    width: 13px;
    margin: 0 auto;
}
#bottom-sidebar #download #inst-app {
    color: white;
    font-size: 8px;
}
#bottom-sidebar #download hr {
    width: 90%;
    border-top: 1px white;
    opacity: 0.7;

}

/* profile */
#bottom-sidebar #profile a svg {
    border-radius: 50%;
    background-color: rgb(128, 128, 128);
}
#bottom-sidebar #profile div {
    vertical-align: super;
}

/* --- HOVER --- */
nav #top-sidebar .icone:hover .container-icone,
nav #top-sidebar .playlist-sdbar a:hover,
nav #bottom-sidebar #download:hover {
    opacity: 1;
}
nav #top-sidebar .icone2:hover #marker-home {
    display: none;
}

/* ----- MAIN ----- */

/* -- Header -- */
main #header-main {
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);
}
/* button upgrade */
main #header-main #upgrade {
    width: 150px;
    height: 30px;
    margin: 0 10px 0 auto;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 8px;
    font-weight: 1000;
    text-align: center;
    padding: 9px 0;
}

/* Hover */
main #header-main #upgrade:hover {
    width: 170px;
    height: 40px;
    margin: 0 5px 0 auto;
    font-size: 10px;
    padding: 11px 0;
}


/* -- Body -- */
main #container-body-main {
    margin: 15px 10px;
}

/* Categorie */
main #container-body-main #categorie ul li a {
    font-size: 8px;
    font-weight: 1000;
    text-align: center;
    color: #707277
}
main #container-body-main #categorie ul li > hr {
    margin: 2px auto 0;
    width: 40%;
    border: 1px solid #9be52d;
}
/* hover */
main #container-body-main #categorie ul li:hover a {
    color: white;
}

/* Playlist */
main #container-body-main section .nome-lista {
    margin: 20px 0;
}
main #container-body-main section .lista-playlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
main #container-body-main section .lista-playlist .playlist {
    flex-basis: 48%;
}

/* Playlist - Copertina */
main #container-body-main section .lista-playlist .playlist .copertina {
    display: block;
    color: white;
}
main #container-body-main section .lista-playlist .playlist .play-playlist {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
/* Tasto play */
main #container-body-main section .lista-playlist .playlist .play-playlist i {
    width: 65px;
    height: 65px;
    font-size: 40px;
    padding-left: 7px;
    border: 6px solid white;
    border-radius: 50%;
    line-height: 55px;
}
/* Tasto play - Hover */
main #container-body-main section .lista-playlist .playlist .copertina:hover .play-playlist{
    display: flex;
}

/* Playlist - Titolo */
main #container-body-main section .lista-playlist .playlist h3 {
    font-size: 12px;
    font-weight: 1000;
    margin-top: 15px;
}
/* Playlist - Sottotitolo */
main #container-body-main section .lista-playlist .playlist h4,
main #container-body-main section .nome-lista h4 {
    font-size: 10px;
    font-weight: 1000;
    margin-top: 5px;
    color: #717478;
}
/* Playlist - Artisti */
main #container-body-main #artisti .lista-playlist .playlist img,
main #container-body-main #artisti .lista-playlist .playlist .play-playlist {
    border-radius: 50%;
}


/* ----- FOOTER ----- */

/* -- Left -- */

/* Brano */
footer #left-footer #img-brano {
    width: 30px;
    margin: auto 5px auto 0;
}
footer #left-footer #brano {
    width: 40px;
}
/* Brano - Titolo */
footer #left-footer #brano h4 {
    font-size: 9px;
    font-weight: 1000;
    color: white;
}
/* Brano - Sottotitolo */
footer #left-footer #brano h5 {
    font-size: 8px;
    font-weight: 1000;
    color: #717478;
}
/* Brano - Hover */
footer #left-footer #brano h5:hover {
    text-decoration: underline;
    color: white;
}

/* Icone */
footer #left-footer #ico-footer {
    width: 20px;
    margin-left: 5px;
    color: #717478;
    cursor: pointer;
}
footer #left-footer #ico-footer i {
    display: block;
    font-size: 12px;
}
/* Icone - Hover */
footer #left-footer #ico-footer i:hover {
    color: white;
}

/* -- Center -- */

footer #center-footer {
    width: 40%;
}
footer #center-footer span {
    font-size: 7px;
}

/* Center - top */
footer #center-footer #top-center-footer {
    width: 140px;
}
footer #center-footer #top-center-footer i {
    font-size: 14px;
    cursor: pointer;
}
/* play */
footer #center-footer #top-center-footer #play {
    width: 24px;
    height: 24px;
    padding: 0 5px;
    border: 3px solid white;
    border-radius: 50%;
    line-height: 20px;
    margin: 2px 2px 2px;
}
/* Hover - play */
footer #center-footer #top-center-footer #play:hover {
    width: 28px;
    height: 28px;
    font-size: 16px;
    padding: 0 6px;
    line-height: 22px;
    margin: 0;
}

/* Center - bottom */
footer #center-footer #bottom-center-footer {
    width: 100%;
}
/* Barra tempo */
footer #center-footer div input[type="range"] {
    width: 70%;
    height: 3px;
    accent-color: white;
}
/* Hover - Barra tempo */
footer #center-footer div input[type="range"]:hover {
    accent-color: #9be52d;
}

/* -- Right -- */
footer #right-footer {
    width: 110px;
}
footer #right-footer a {
    color: white;
}
footer #right-footer i {
    font-size: 10px;
    cursor: pointer;
}

/* volume */
footer #right-footer input[type="range"] {
    width: 50px;
    height: 3px;
    margin-bottom: 3px;
    accent-color: white;
}
/* volume - hover */
footer #right-footer input[type="range"]:hover {
    accent-color: #9be52d;
}


/* ------ BONUS ------ */

/* DISPOSITIVO MOBILE (min-width: 320px e max-width: 375px) CON: 
   - Scomparsa icone superflue 
*/

@media only screen and (min-width: 320px) and (max-width: 375px) {

    /* FOOTER */

    /* -- Left -- */
    footer #left-footer {
        width: 110px;
    }
    /* Icone */
    footer #left-footer #ico-footer {
        display: none;
    }

    /* -- Center -- */

    /* Top */
    footer #center-footer #top-center-footer {
        width: 120px;
    }
    footer #center-footer #top-center-footer i {
        font-size: 10px;
    }
    /* play */
    footer #center-footer #top-center-footer #play {
        padding-left: 6px;
    }

    /* Bottom */
    footer #center-footer div input[type="range"] {
        width: 60%;
    }

    /* -- Right -- */
    footer #right-footer {
        justify-content: flex-end;
        gap: 5px;
    }
    footer #right-footer .xxs {
        display: none;
    }
}


/* -------- RESPONSIVE -------- */

/* MOBILE LARGE Responsive da width: 425px */
@media only screen and (min-width: 425px) {

    /* SIDEBAR */
    nav.s {
        width: 150px;
        align-items: start;
        padding: 10px 0 0 10px;
    }
    nav ul .icone {
        width: 100%;
    }
    nav ul .icone:nth-of-type(1n+2) a{
        display: inline-block;
        width: 20px;
    }

    /* Top */
    #top-sidebar.s-sdbar {
        justify-content: flex-start;
        width: 100%;
    }
    #top-sidebar.s-sdbar .icone #logo-piccolo {
        display: none;
    }
    #top-sidebar.s-sdbar .icone #logo-grande {
        display: block;
    }
    #top-sidebar.s-sdbar > .icone:first-child {
        width: 70%;
    }
    #top-sidebar .icone .marker-line {
        display: block;
    }
    /* playlist */
    .playlist-sdbar {
        display: block;
    }
    /* nome icona */
    #top-sidebar .icone .container-icone .nome-icona {
        display: inline-block;
    }
    
    /* Bottom */
    #bottom-sidebar.s-sdbar {
        width: 100%;
    }
    #bottom-sidebar.s-sdbar > .icone:first-child {
        margin: 0;
    }
    #bottom-sidebar.s-sdbar div.s-sdbar {
        display: inline-block;
    }
    #bottom-sidebar #download a{
        display: inline-block;
        vertical-align: sub;
    }
    #bottom-sidebar #download hr {
        display: block;
    }

    /* MAIN */
    main.s {
        width: calc(100% - 150px);
    }
}

/* TABLET Responsive da width: 768px */
@media only screen and (min-width: 768px) {

    /* MAIN */

    /* Playlist */
    main #container-body-main section .lista-playlist {
        justify-content: flex-start;
        gap: 10px 2%;
    }
    main #container-body-main section .lista-playlist .playlist {
        flex-basis: calc((100% / 4) - 2%);
    }

    /* FOOTER */

    /* -- Left -- */

    /* Brano */
    footer #left-footer #brano {
        width: 60px;
    }
    /* Titolo */
    footer #left-footer #brano #titolo {
        display: flex;
        align-items: end;
    }
    /* Sottotitolo */
    footer #left-footer #brano #sottotitolo-footer {
        flex-direction: row;
        gap: 3px;
    }
    /* Icone */
    footer #left-footer #ico-footer {
        width: 30px;
        margin-left: 30px;
        justify-content: space-between;
        align-items: center;
    }

    /* -- Center -- */

    /* Center - Top */
    footer #center-footer #top-center-footer {
        width: 160px;
    }

    /* -- Right -- */
    footer #right-footer {
        width: 130px;
    }
}

/* DESKTOP Responsive da width: 1024px */
@media only screen and (min-width: 1024px) {
    
    /* MAIN */

    /* Playlist */
    main #container-body-main section .lista-playlist .playlist {
        flex-basis: calc((100% / 6) - 2%);
    }
    
}

